.env
commands/__pycache__/addquote.cpython-312.pyc
commands/__pycache__/example.cpython-312.pyc
commands/__pycache__/quote.cpython-312.pyc
commands/__pycache__/weather.cpython-312.pyc
imgs/ween/accepted-my-weiner.gif
imgs/ween/accepted-my-weiner(1).gif
imgs/ween/contest-competition.gif
imgs/ween/contest-competition(1).gif
imgs/ween/dairy-queen-chili-dog.gif
imgs/ween/dairy-queen-chili-dog(1).gif
imgs/ween/eat-yum.gif
imgs/ween/eat-yum(1).gif
imgs/ween/hot-dog (1).gif
imgs/ween/hot-dog-cat(1).gif
imgs/ween/hot-dog.gif
