.env
commands/__pycache__/addquote.cpython-312.pyc
commands/__pycache__/example.cpython-312.pyc
commands/__pycache__/quote.cpython-312.pyc
commands/__pycache__/weather.cpython-312.pyc
imgs/ween/accepted-my-weiner.gif
imgs/ween/accepted-my-weiner(1).gif
imgs/ween/contest-competition.gif
imgs/ween/contest-competition(1).gif
imgs/ween/dairy-queen-chili-dog.gif
imgs/ween/dairy-queen-chili-dog(1).gif
imgs/ween/eat-yum.gif
imgs/ween/eat-yum(1).gif
imgs/ween/hot-dog (1).gif
imgs/ween/hot-dog-cat(1).gif
imgs/ween/hot-dog.gif
imgs/gw/0.gif
imgs/gw/1-16-06-Desktop.webp
imgs/gw/001-Banner.webp
imgs/gw/001.png
imgs/gw/002.png
imgs/gw/003.png
imgs/gw/3.png
imgs/gw/11-29-05-Desktop.webp
imgs/gw/19cb3.png
imgs/gw/157_hf_banner.png
imgs/gw/9999.png
imgs/gw/17112_1149011935.webp
imgs/gw/1733880e1f49c336f89825075a750f12a770d92.png
imgs/gw/1741809b4a127c4db78316a663846f2c67ccd39.png
imgs/gw/1842888bfc150b3c74ae5631c90a63e01266273.png
imgs/gw/11680944oe7.png
imgs/gw/19434405e1e7bed5dab91fb18f65ab13db43a73.png
imgs/gw/21057475b2dd33ee9849bdfb523ba0fce223dda.png
imgs/gw/175960359e2e6a251784ce922437dd54704c96e.png
imgs/gw/176344968b40b3ac0e3b3d093e9e2b2887807ad.png
imgs/gw/194776870fd6bd1ce4043d07653d6cf6ea7fbd5.png
imgs/gw/1907832192d4842af611a0524c03959a37f7a2e.jpeg
imgs/gw/3269081755c9eca56033cfebcfc98d57bd4af23.png
imgs/gw/18482503679d20dfc73662d0afffc4728372358.jpeg
imgs/gw/19264868934b10366a4715aa1aab650e822860a.jpeg
imgs/gw/100423124839am_g3tol.png
imgs/gw/1201746538237ug8.jpg
imgs/gw/a0035689_139512.jpeg
imgs/gw/aBdGMyQ_460svvp9.webm
imgs/gw/affiliate2.png
imgs/gw/alawareng02.gif
imgs/gw/AlterraCOMPLETE.webp
imgs/gw/AmazonGame01.gif
imgs/gw/ani4.gif
imgs/gw/anmatcat.gif
imgs/gw/annoyingpuzzleXD.webp
imgs/gw/Anotherscreennn.webp
imgs/gw/ArliaForest.webp
imgs/gw/art_wip.gif
imgs/gw/asce2logo.png
imgs/gw/ascscreen_006.webp
imgs/gw/astellusvillage17go.png
imgs/gw/av-2345.gif
imgs/gw/Avalanche-Sig-16million.png
imgs/gw/avatar_3914_2f08upg.png
imgs/gw/avatar_4766_ds_new_avvy3.gif
imgs/gw/avatar_6228_index.png
imgs/gw/avatar_8507_Gythol Snaps.png
imgs/gw/avatar_9062_Grim_Reaper.png
imgs/gw/avatar_16628_bl038.png
imgs/gw/avatar_16822_omg_n11.png
imgs/gw/avatar_21680_Warrior0.png
imgs/gw/avatar_25011_photo-25011.jpg
imgs/gw/avatar_25806_photo-25806.jpg
imgs/gw/avatar_27598_photo-27598.png
imgs/gw/avatar_30168_photo-30168.gif
imgs/gw/avatar_30739_photo-30739.jpg
imgs/gw/avatar_34672_index.gif
imgs/gw/avatar_34963_index.gif
imgs/gw/avatar_35038_newawavatar.png
imgs/gw/avatar_36100_photo-36100.png
imgs/gw/avatar_36659_photo-36659.gif
imgs/gw/avatar.jpg
imgs/gw/avatar2cw0.png
imgs/gw/banned.gif
imgs/gw/banner_234x60.png
imgs/gw/banner.gif
imgs/gw/Banner.png
imgs/gw/bartavvy.gif
imgs/gw/bartoptimized.png
imgs/gw/bartpixelavatar.gif
imgs/gw/bartsticker.png
imgs/gw/batsigagainto2.png
imgs/gw/battle1.webp
imgs/gw/battle2.webp
imgs/gw/bb_irc.png
imgs/gw/benton_1.png
imgs/gw/benton_5.png
imgs/gw/benton_6.png
imgs/gw/benton_7.png
imgs/gw/benton_8.png
imgs/gw/benton_9.png
imgs/gw/benton_10.png
imgs/gw/benton_11.png
imgs/gw/BRoughSketches.webp
imgs/gw/bumblebee_man_2.gif
imgs/gw/buntsitz_00g.gif
imgs/gw/button.gif
imgs/gw/ccpromobannerb2.png
imgs/gw/cell3xa6.png
imgs/gw/cheftitle_fullrez_hoopz.jpg
imgs/gw/classic.gif
imgs/gw/Coneria1.webp
imgs/gw/Coneria2.webp
imgs/gw/Coneria3.webp
imgs/gw/Coneria4.webp
imgs/gw/Coneria5.webp
imgs/gw/Coneria6.webp
imgs/gw/coolmap.webp
imgs/gw/cooltown.webp
imgs/gw/COPYRIGHT.webp
imgs/gw/d1mlvp5-e49e3e9b-7cdf-4d8a-b212-e67ac88c1916.png
imgs/gw/dinosaur.gif
imgs/gw/disdbs2.png
imgs/gw/Divide.jpeg
imgs/gw/DM466.png
imgs/gw/downloadbar.gif
imgs/gw/Dreamless POTW.png
imgs/gw/DUCKYWHEREISIT.gif
imgs/gw/E9xiX4A.png
imgs/gw/EclipseHouse3.png
imgs/gw/EclipseHouse5.webp
imgs/gw/ein.gif
imgs/gw/ej2007-80.png
imgs/gw/ej2007-82.png
imgs/gw/ej2007-84.png
imgs/gw/ej2007-87.png
imgs/gw/elegysig.gif
imgs/gw/endlessfinal.webp
imgs/gw/endlesssub.webp
imgs/gw/endlessub3.webp
imgs/gw/endlessub5.webp
imgs/gw/ENDLESSWorld.webp
imgs/gw/eojsigmi2.jpg
imgs/gw/eozlogo2fa0.png
imgs/gw/ev5button.gif
imgs/gw/EXEM_Luvdisc.jpg
imgs/gw/Exile.jpg
imgs/gw/face2.gif
imgs/gw/fairy_bounce02.gif
imgs/gw/FaustAvatar.jpg
imgs/gw/FFBS.png
imgs/gw/ffxsigsu7-1.png
imgs/gw/FinalSignature.jpg
imgs/gw/fogetCool (1).gif
imgs/gw/fogetCool.gif
imgs/gw/fogetFU.gif
imgs/gw/fogetGasp_1.gif
imgs/gw/fogetLaugh.gif
imgs/gw/forum.gif
imgs/gw/frozen.gif
imgs/gw/FSTCollabScreens01-1 (1).webp
imgs/gw/game-325.jpg
imgs/gw/game-326.jpg
imgs/gw/game-327.jpg
imgs/gw/game-328.jpg
imgs/gw/game-330.jpg
imgs/gw/game-380.jpg
imgs/gw/game-381.jpg
imgs/gw/game-382.jpg
imgs/gw/game-383.jpg
imgs/gw/game-404.jpg
imgs/gw/game-574.jpg
imgs/gw/game-629.jpg
imgs/gw/game-630.jpg
imgs/gw/game-631.jpg
imgs/gw/game-632.jpg
imgs/gw/gaxe-02.gif
imgs/gw/gaxeremake-1.webp
imgs/gw/girlscan.jpg
imgs/gw/GorgeousInn.webp
imgs/gw/grem.jpg
imgs/gw/gwbanner2.gif
imgs/gw/gwcg2023_introanimation.mp4
imgs/gw/gwlogo_remake_wip_ytbanner.png
imgs/gw/gwlogo_remake_wip.png
imgs/gw/gwlogo2_2.jpg
imgs/gw/gwlogoplainqp7.png
imgs/gw/h4a_s2.png
imgs/gw/header-left.gif
imgs/gw/hon.jpg
imgs/gw/hurfdurf.webp
imgs/gw/iamahero_banner_MW_NM_CT.gif
imgs/gw/iamahero_Sm.png
imgs/gw/icon_folder_new_hot.gif
imgs/gw/icon_folder_new.gif
imgs/gw/image.png
imgs/gw/IMG110-1209104941.png
imgs/gw/index (1).png
imgs/gw/index.png
imgs/gw/irc_sig.gif
imgs/gw/irc-ad.gif
imgs/gw/irc.gif
imgs/gw/JONED1.gif
imgs/gw/kittywalk.gif
imgs/gw/laguna.jpeg
imgs/gw/latest-resources.gif
imgs/gw/left-header-art.gif
imgs/gw/left-header-klik.gif
imgs/gw/left-header-liverpg.gif
imgs/gw/left-header-music.gif
imgs/gw/lennusadinblueow1.png
imgs/gw/LIGHTING.webp
imgs/gw/liman_monkey.jpg
imgs/gw/LLscreen.webp
imgs/gw/lofi1.png
imgs/gw/Logo-GW.jpeg
imgs/gw/logo.png
imgs/gw/lolwhat.webp
imgs/gw/lotps-new_cms.gif
imgs/gw/lurker.gif
imgs/gw/May_08_CBS-1.webp
imgs/gw/May_10_CBS.webp
imgs/gw/May_10-2_CBS.webp
imgs/gw/Menu_In_Game.png
imgs/gw/MLG54.png
imgs/gw/mmztopnp7.png
imgs/gw/mockup05.jpeg
imgs/gw/momhero.png
imgs/gw/musebannerae2.png
imgs/gw/mxlogo1eq1.jpeg
imgs/gw/naughty.gif
imgs/gw/Necropolis2.jpeg
imgs/gw/New_SirdekaCastle.webp
imgs/gw/new-item.webp
imgs/gw/newblast.gif
imgs/gw/NewerTown.webp
imgs/gw/newoot2dsupportbanner5lj.png
imgs/gw/news.gif
imgs/gw/newthread.gif
imgs/gw/NewTown.webp
imgs/gw/nfabanner.jpeg
imgs/gw/noavatar.gif
imgs/gw/NorthenContinent.webp
imgs/gw/o3banner.gif
imgs/gw/ObtainedItem.webp
imgs/gw/ohsnap.gif
imgs/gw/omeg-doom.gif
imgs/gw/opner.webp
imgs/gw/PanandPans2.webp
imgs/gw/pbf_rodeo.jpg
imgs/gw/photo-3172.png
imgs/gw/photo-11118.jpg
imgs/gw/photo-16046 (1).png
imgs/gw/photo-16046.png
imgs/gw/photo-31700.gif
imgs/gw/pip-gold3.png
imgs/gw/Plot-4-Bookasa-Portal.webp
imgs/gw/PoisonousScreenshot.png
imgs/gw/preview5.webp
imgs/gw/preview8.webp
imgs/gw/raptor_dance.gif
imgs/gw/RayaraDesertAgain.webp
imgs/gw/rdncontest3zergofj8.png
imgs/gw/readme.gif
imgs/gw/right-latestnews.gif
imgs/gw/Rin.webp
imgs/gw/rmcheader.gif
imgs/gw/rmnkitty.gif
imgs/gw/RMT Sig.gif
imgs/gw/rollover_1.gif
imgs/gw/rpga01.jpg
imgs/gw/Sammy Logo.png
imgs/gw/Screen_Shot_2022-12-16_at_00.43.46-fullpage.png
imgs/gw/screen120rtra0wb.webp
imgs/gw/screencjj3.png
imgs/gw/Screendonjondelaforet9.png
imgs/gw/ScreenNEWz.webp
imgs/gw/Screenshot_20240622_160328.png
imgs/gw/Showoff009.webp
imgs/gw/Showoff014.webp
imgs/gw/Showoff020.webp
imgs/gw/sign.gif
imgs/gw/Silence-Contest-Map.webp
imgs/gw/SirdekaShop.webp
imgs/gw/site_logo.png
imgs/gw/soko_combo.gif
imgs/gw/soldat.gif
imgs/gw/spamlaser9ol.gif
imgs/gw/squall.jpeg
imgs/gw/SS-2.webp
imgs/gw/SS-Map.webp
imgs/gw/SS-Monsters.webp
imgs/gw/SS-Preserve.webp
imgs/gw/SS-RPC.webp
imgs/gw/SS-World-Map-COMPLETE.webp
imgs/gw/SS-World-Map-Section.webp
imgs/gw/SS.webp
imgs/gw/Stage_is_set.png
imgs/gw/TentCliff.webp
imgs/gw/TheCrzyWall.png
imgs/gw/themovement.png
imgs/gw/tidus.gif
imgs/gw/title-logosig1.gif
imgs/gw/title-logosig3.gif
imgs/gw/title-logosigfaces.gif
imgs/gw/TitleDemo-1.webp
imgs/gw/TitleDemo2.webp
imgs/gw/TitleDemo3.webp
imgs/gw/ttttul6ez6.png
imgs/gw/tumblr_ob7hlvYZER1vpnkteo1_500.jpg
imgs/gw/ulqiorra2.png
imgs/gw/unknown.png
imgs/gw/Untitled-1-5.png
imgs/gw/userbar_dosmaen.png
imgs/gw/userbar797134vd.gif
imgs/gw/userbarpanda.jpeg
imgs/gw/USGUSER.jpeg
imgs/gw/vanityscreen47lx1.png
imgs/gw/view_record_breaker_banner.gif
imgs/gw/vonkarma_1.gif
imgs/gw/warsadbigasii9.png
imgs/gw/welp.gif
imgs/gw/worldmappic.webp
imgs/gw/ZeratulSigPic.png
imgs/gw/zig.jpeg
